#jatekter{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40vw;
}
#balpanel{
    width: 30%;
    border: 1px solid black;
    height: 40vw;
    background-image: url(kishatter.png);
    background-size: 100%;
}
#kartyabox{
    border: 1px solid black;
    height: 20vw;
    background-image: url(kishatter.png);
    background-size: 50%;
}
#pontokbox{
    border: 1px solid black;
    height: 20vw;
    background-image: url(kishatter.png);
    background-size: 50%;
}
#tabla{
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-image: url(kishatter.png);
    background-size: 100%;
}
#korokbox{
    width: 20%;
    border: 1px solid black;
    background-image: url(kishatter.png);
    background-size: 100%;
    background-position-y: 50%;
}
.sordiv{
    display: flex;
    height: 8vw;
}
.oszlopdiv{
    width: 16.6%;
    margin: 5px;
}

#tabla img{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
}

body{
    background-image: url(hatter3.jpg);
    background-size: 100%;
}