#jatekter{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40vw;
}
#balpanel{
    width: 30%;
    border: 1px solid lime;
    height: 40vw;
}
#kartyabox{
    border: 1px solid lime;
    height: 20vw;
}
#pontokbox{
    border: 1px solid lime;
    height: 20vw;
}
#tabla{
    width: 50%;
    border: 1px solid lime;
    display: flex;
    flex-direction: column;
}
#korokbox{
    width: 20%;
    border: 1px solid lime;
}
.sordiv{
    display: flex;
    height: 8vw;
}
.oszlopdiv{
    border: 1px solid lime;
    width: 16.6%;
    margin: 5px;
}

#tabla img{
    width: 100%;
    height: 100%;
}
